{% extends 'base.html' %} 

{% block title %}
room
{% endblock %}

{% block body %}
<div class="room-wrapper">
 <div class="sidebar"> </div>
 <div class="left-container">
  <div id="rooms-list">
    <ul class="room-box">
      
      {% for room in room_name %}
        <li class="room-item-wrapper">
         <p class="room-item"> {{ room }}</p>
          <form action="{{ url_for('room_delete') }}" method="POST">
            <input type="image" src="../static/img/trash.png" alt="" class="room-delete-icon">
          </form>
          <!--<img class ="room-delete-icon" src="../static/img/trash.png" alt ="">
        -->
        </li>
      {% endfor %}
      
    <!--
    <li class = "room-item-wrapper">
      <div class = "room-item">room1</div>
      <img class ="room-delete-icon" src="../static/img/trash.png" alt ="">
    </li>

    <li class = "room-item-wrapper">
      <div class = "room-item">room2</div>
      <img class ="room-delete-icon" src="../static/img/trash.png" alt ="">
    </li>

    <li class = "room-item-wrapper">
      <div class = "room-item">room3</div>
      <img class ="room-delete-icon" src="../static/img/trash.png" alt ="">
    </li>
  
    <li class = "room-item-wrapper">
      <div class = "room-item">room4</div>
      <img class ="room-delete-icon" src="../static/img/trash.png" alt ="">
    </li>
        -->
    <li class="room-item-wrapper">
      <form action="{{ url_for('room_create_page') }}" method="GET">
        <input type="image" src="../static/img/create_room.png" alt="" class="room-create-icon">
      </form>

    </ul>
  </div>
 </div>
 <div class="right-container">
    <div class="room-title-wrapper">
      <h1 id="room-title">{{room_title}}</h1>
    </div>
    <div class="room-switch-wrapper">
      <form action="{{ url_for('room_create') }}" method="POST">
        <input type="image" src="../static/img/note-icon.png" alt="" class="note-icon">
      </form>
      <form action="{{ url_for('room_create') }}" method="POST">
       <input type="image" src="../static/img/chat-icon.png" alt="" class="chat-icon">
      </form>
      </div>

    <div class="messages-wrapper">
      <div class="my-messages">
          
        <div class="message-area">
          <div class="message-content">
            <p class="box-right">This is my message </p>
          </div>
          <div id="navArea">
            <input type="image" src="../static/img/option.png" alt="" class="toggle-btn">
            <!-- <div class="toggle-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            -->
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="#">編集</a></li>
                        <li><a href="#">翻訳</a></li>
                        <li><a href="#">削除</a></li>
                    </ul>
                </div>
            </nav>
          </div>
        </div>
      </div>
      
      <div class="typing-box-wrapper">
        <form action="{{url_for('room_create')}}" method="POST">
          <div class="message-input">
            <input 
            type="text"
            name="message"
            class="message-input-box"
            id="message"
            />
          </div>
        </form>
          <form action="{{ url_for('room_create_page') }}" method="GET">
            <input type="image" src="../static/img/clip.png" alt="" class="clip-icon">
          </form>
          <form action="{{ url_for('message_create') }}" method="POST">
            <input type="image" src="../static/img/send.png" alt="" class="send-icon">
          </form>
      </div>
    </div>
  </div>
 </div>
{% endblock %}{% block script %}

<script
  src="{{url_for('static',filename='js/channels/app.js')}}"
></script>

{% endblock %}